<header class="navbar navbar-default navbar-fixed-top bg-dark d-flex justify-content-between align-items-center px-4 py-2">

    <nav>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a routerLink="/inicio" class="text-light">  <img src="" alt="Logo" width="50px" height="50px" style="border-radius: 50%;"></a></li>
          <li class="list-inline-item"><a routerLink="/ranking" class="text-light">Rankings</a></li>
          <li class="list-inline-item"><a routerLink="/login" class="text-light">Registro</a></li>
          <li class="list-inline-item"><a routerLink="/partidas" class="text-light">Tus Partidas</a></li>
          <li class="list-inline-item"><a routerLink="/partidas/mejores" class="text-light">Mejores partidas</a></li>
        </ul>
      </nav>
      <img src="" alt="Logo2" width="100px">
    </header>