<header
  class="navbar navbar-default navbar-fixed-top bg-dark d-flex justify-content-between align-items-center px-4 py-2">
  <nav>
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><a routerLink="/inicio" class="text-light"> <img src="../../../assets/img/logo.png" alt="Logo" width="50px"
            height="50px" style="border-radius: 50%;"></a></li>
      <li class="list-inline-item"><a routerLink="/ranking" class="text-light">Rankings</a></li>
      <ng-container *ngIf="inicio; else noLogin">
        <li class="list-inline-item"><a routerLink="/partidas/todas" class="text-light">Tus Partidas</a></li>
        <li class="list-inline-item"><a routerLink="/nuevo" class="text-light">Nueva Partida</a></li>
        <li class="list-inline-item"><a (click)="cerrarSesion()" routerLink="" class="text-light">Cerrar sesion</a></li>
      </ng-container>
      <ng-template #noLogin>
        <li class="list-inline-item"><a routerLink="/login" class="text-light">Inicio de sesion</a></li>
        <li class="list-inline-item"><a routerLink="/registro" class="text-light">Registro</a></li>
      </ng-template>
    </ul>
  </nav>
  <h2 class="text-light list-inline-item" routerLink="/inicio">TableroConecta</h2>
  <a routerLink="/perfil" class="text-light" *ngIf="inicio"><img *ngIf="!yo" src="../../../assets/img/perfil.jfif" alt="Logo2" width="50px"
    height="50px" style="border-radius: 50%;" class="text-light">
    <img *ngIf="yo" [src]="'data:image;base64,' + yo" alt="Logo2" width="50px"
    height="50px" style="border-radius: 50%;" class="text-light"></a>
</header>