header{
    font-size: 100%;
}
h2{
    cursor: pointer;
}

@media (max-width: 800px) {
    header{
        font-size: 90%;
    }
}

@media (max-width: 720px) {
    header{
        font-size: 120%;
    }
}

@media (max-width: 680px) {
    header{
        font-size: 100%;
    }
}

@media (max-width: 620px) {
    header{
        font-size: 90%;
    }
}


@media (max-width: 475px) {
    header{
        font-size: 80%;
    }
}