<header
  class="navbar navbar-default navbar-fixed-top bg-dark d-flex justify-content-between align-items-center px-4 py-2">
  <nav>
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><a routerLink="/inicio" class="text-light"> <img src="" alt="Logo" width="50px"
            height="50px" style="border-radius: 50%;"></a></li>
      <li class="list-inline-item"><a routerLink="/ranking" class="text-light">Rankings</a></li>
      <ng-container *ngIf="inicio; else noLogin">
        <li class="list-inline-item"><a routerLink="/partidas/todas" class="text-light">Tus Partidas</a></li>
        <li class="list-inline-item"><a routerLink="/nuevo" class="text-light">Nueva Partida</a></li>
        <li class="list-inline-item"><a (click)="cerrarSesion()" routerLink="" class="text-light">Cerrar sesion</a></li>
        <li class="text-light list-inline-item ml-3"><a routerLink="/perfil">{{yo | uppercase }}</a></li>
      </ng-container>
      <ng-template #noLogin>
        <li class="list-inline-item"><a routerLink="/login" class="text-light">Inicio de sesion</a></li>
        <li class="list-inline-item"><a routerLink="/registro" class="text-light">Registro</a></li>
      </ng-template>
    </ul>
  </nav>
  <a routerLink="/perfil" class="text-light"><img *ngIf="inicio" src="" alt="Logo2" width="50px"
    height="50px" style="border-radius: 50%;" class="text-light"></a>
</header>