<ng-container *ngIf="load && !malLogin; else noJuegos">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form (submit)="onSubmit()" class="mt-4">
          <div class="form-group">
            <select class="menu-select" class="form-control" [(ngModel)]="rival" name="rival">
              <option disabled="disabled" selected>Elija su adversario</option>
              <ng-container *ngFor="let usuario of usuarios">
                <option [value]="usuario.id" *ngIf="usuario.nombre!==yo"> {{ usuario.nombre }}</option>
              </ng-container>
            </select>
          </div>
          <br>
          <div class="form-group">
            <select class="menu-select" class="form-control" [(ngModel)]="juego" name="juego">
              <option disabled="disabled" selected>Elija el juego</option>
              <option *ngFor="let juego of juegos" [value]="juego.id">{{ juego.nombre | uppercase }}</option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Comenzar Partida</button>
        </form>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noJuegos>
  <div class="container py-2 text-center d-flex justify-content-center">
    <ng-container *ngIf="load==true">
      <span >No se pueden crear partidas<br>
        La sesion puede haber expirado <br>
        <button routerLink="/login" class="btn btn-success">Iniciar Sesión</button>
      </span>
      </ng-container>
    <span *ngIf="load == false">
      <p>Espere un segundo</p>
      <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
          <div class="hamster__body">
            <div class="hamster__head">
              <div class="hamster__ear"></div>
              <div class="hamster__eye"></div>
              <div class="hamster__nose"></div>
            </div>
            <div class="hamster__limb hamster__limb--fr"></div>
            <div class="hamster__limb hamster__limb--fl"></div>
            <div class="hamster__limb hamster__limb--br"></div>
            <div class="hamster__limb hamster__limb--bl"></div>
            <div class="hamster__tail"></div>
          </div>
        </div>
        <div class="spoke"></div>
      </div>
    </span>
  </div>
</ng-template>