section {
    max-width: fit-content;
    max-height: 70%;
    position: relative;
    margin-top: 10px;
    padding: 30px;
}

table {
    border-collapse: collapse;
    margin: 10px 16px;
    border: 1px solid black;
}

table tr td {
    text-align: center;
    border: 1px solid black;
    font-size: 30px;
    cursor: pointer;
}

table tr td {
    cursor: grab;
}

table tr td:active {
    cursor: grabbing;
}

table tr td:empty {
    cursor: auto;
}

.valida {
    background-color: red !important;
}

td.valida:empty {
    background-color: blue !important;
}

.enroque {
    background-color: green !important;
}

article:empty {
    border: none !important;
}

article:nth-child(3) {
    top: 100;
    right: 0;
    position: absolute;
    border: 1px black dashed;
    font-size: 30px;
    width: fit-content;
    cursor: default;
}

article:nth-child(2) {
    top: 0;
    right: 0;
    position: absolute;
    border: 1px black double;
    font-size: 30px;
    width: fit-content;
    cursor: default;
}

table tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: rgba(139, 69, 19, 0.4);
}

table tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: rgba(139, 69, 19, 0.4);
}

table tr th{
    font-size: 27px;
    border: 1px solid black;
    text-align: center;
    padding: 10px 22px;
    background-color: rgb(255, 255, 255, 0.2);
    cursor: default;
}

#cajatabla{
    display: flex;
}
button{
    max-height: 40px
}