html {
    margin: 0px;
}

body {
    font-family: Arial;
    align-items: center;
    align-content: center;
    align-self: center;
    background-image: url("assets/img/wood.jpg");
    width: 100%;
    height: 100%;
    margin: 0px;
}

.swal2-popup {
    background-color: light-dark(white, black) !important;
    color: light-dark(black, white) !important;
  }
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";