<div class="container py-2 text-center d-flex justify-content-center">
  <ng-container *ngIf="partidas && partidas.length > 0; else nopartidas">
    <div class="container mt-5">
      <div *ngIf="juego!=null" class="btn bg-primary " routerLink="/partidas">Ver partidas de Todos los juegos</div>
      <div *ngFor="let partida of partidas" class="col text-center d-flex justify-content-center">
        <div class="col-6 py-2"
          *ngIf="(juego==null || juego==partida.tipo) && (filtro(partida) && filtroBusqueda(partida))">
          <div class="card h-100 {{ partida.tipo }}" routerLink="/{{ partida.tipo }}/{{partida.partida}}" id="foto">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="mb-4 text-light">
                <h2>Partida de {{partida.tipo}}</h2>
                <ng-container *ngIf="partida.acabado">
                  <h3> La partida ha terminado </h3>
                  <p *ngIf="partida.ganado==true"> Has ganado </p>
                  <p *ngIf="partida.ganado==false"> Has Perdido </p>
                  <p *ngIf="partida.ganado==null"> Ha terminado en Tablas </p>
                </ng-container>
                <ng-container *ngIf="!partida.acabado">
                  <h3> La partida Sigue en Juego </h3>
                </ng-container>
                <p>Contra: {{ partida.rival }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form>
      <button class="btn btn-success" (click)="setRecientes(true)" *ngIf="!recientes">Ver las mas recientes</button> <br
        *ngIf="!recientes">
      <button class="btn btn-success" (click)="setRecientes(false)" *ngIf="recientes">Ver las mas antiguas</button> <br
        *ngIf="recientes">
      <input type="checkbox" [(ngModel)]="ganadas" name="ganadas"> Ganadas <br>
      <input type="checkbox" [(ngModel)]="perdidas" name="perdidas"> Perdidas <br>
      <input type="checkbox" [(ngModel)]="empatadas" name="empatadas"> Empatada <br>
      <input type="checkbox" [(ngModel)]="jugando" name="jugando"> En juego <br>
      <input type="text" [(ngModel)]="oponente" placeholder="Oponente" [ngModelOptions]="{standalone: true}">
    </form>
  </ng-container>

  <ng-template #nopartidas>
    <span>
      <p>Cargando partidas</p>
      <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
          <div class="hamster__body">
            <div class="hamster__head">
              <div class="hamster__ear"></div>
              <div class="hamster__eye"></div>
              <div class="hamster__nose"></div>
            </div>
            <div class="hamster__limb hamster__limb--fr"></div>
            <div class="hamster__limb hamster__limb--fl"></div>
            <div class="hamster__limb hamster__limb--br"></div>
            <div class="hamster__limb hamster__limb--bl"></div>
            <div class="hamster__tail"></div>
          </div>
        </div>
        <div class="spoke"></div>
      </div>
    </span>
  </ng-template>
</div>