<div class="container py-2 text-center d-flex justify-content-center">
  <ng-container *ngIf="partidas && partidas.length > 0; else nopartidas">
    <div class="container mt-5">
      <div *ngFor="let partida of partidas" class="col text-center d-flex justify-content-center">
        <div class="col-6 py-2">
          <div class="card h-100" routerLink="/{{ partida.tipo }}/{{partida.partida}}">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="mb-4">
                <h2>Partida de {{partida.tipo}}</h2>
                <ng-container *ngIf="partida.acabado">
                  <h3> La partida ha terminado </h3>
                  <p *ngIf="partida.ganado==true"> Has ganado </p>
                  <p *ngIf="partida.ganado==false"> Has Perdido </p>
                  <p *ngIf="partida.ganado==null"> Ha terminado en Tablas </p>
                </ng-container>
                <ng-container *ngIf="!partida.acabado">
                  <h3> La partida Sigue en Juego </h3>
                </ng-container>
                <p>Contra: {{ partida.rival }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #nopartidas>
    <p *ngIf="load==true">No hay partidas disponibles ahora mismo</p>
    <span *ngIf="load == false">
      <p>Cargando partidas</p>
      <div aria-label="Orange and tan hamster running in a metal wheel" role="img" class="wheel-and-hamster">
        <div class="wheel"></div>
        <div class="hamster">
          <div class="hamster__body">
            <div class="hamster__head">
              <div class="hamster__ear"></div>
              <div class="hamster__eye"></div>
              <div class="hamster__nose"></div>
            </div>
            <div class="hamster__limb hamster__limb--fr"></div>
            <div class="hamster__limb hamster__limb--fl"></div>
            <div class="hamster__limb hamster__limb--br"></div>
            <div class="hamster__limb hamster__limb--bl"></div>
            <div class="hamster__tail"></div>
          </div>
        </div>
        <div class="spoke"></div>
      </div>
    </span>
  </ng-template>
</div>