{% extends 'base.html.twig' %}

{% block title %}Edit Partidas{% endblock %}

{% block body %}
    <h1>Edit Partidas</h1>

    {{ include('partidas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_partidas_index') }}">back to list</a>

    {{ include('partidas/_delete_form.html.twig') }}
{% endblock %}
