{% extends 'base.html.twig' %}

{% block title %}New Partidas{% endblock %}

{% block body %}
    <h1>Create new Partidas</h1>

    {{ include('partidas/_form.html.twig') }}

    <a href="{{ path('app_partidas_index') }}">back to list</a>
{% endblock %}
