:root {
    color-scheme: light dark;
  
    --light-bg: ghostwhite;
    --light-color: darkslategray;
    --light-code: tomato;
  
    --dark-bg: rgb(255, 0, 0);
    --dark-color: ghostwhite;
    --dark-code: gold;
  }
  #foto {
    text-shadow: black 1px 0 3px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: repeat;
    opacity: 90%;
    border-radius: 10px;
    text-decoration: none;
    background-color: light-dark(var(--light-bg), var(--dark-bg)) !important;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    cursor: pointer;
  }
  h3, p{
    color: light-dark(var(--light-color), var(--dark-color)) !important;
  }
  
  #foto:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.87);
    opacity: 100%;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .scene {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-left: 17%;
  }
  
  .miner {
    position: relative;
    width: 50px;
    height: 200px;
    margin: 0 120px; 
  }
  
  #miner1 .arm {
    animation: swing-left 1s infinite;
    transform-origin: top;
  }
  
  #miner2 .arm {
    animation: swing-left 1s infinite 0.5s;
    transform-origin: top;
  }
  
  #miner1 {
    transform: scaleX(1);
  }
  
  #miner2 {
    transform: scaleX(-1); 
  }
  
  .head {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: #ffcc99;
    border-radius: 50%;
  }
  
  .face {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 16px;
    background-color: #333;
    border-radius: 50%;
  }
  
  .body {
    width: 50px;
    height: 80px;
    background-color: #13258b;
    position: absolute;
    top: 40px;
    left: 0;
  }
  
  .arm {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #8b1313;
    top: 60px;
    left: 20px;
    transform-origin: top center;
  }
  
  .hand {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffcc99;
    top: 70px;
    left: -5px;
  }
  
  .pickaxe {
    width: 60px;
    height: 5px;
    background-color: #8b4513;
    position: absolute;
    top: -5px;
    left: 5px;
    transform-origin: left center;
    transition: all 0.2s ease;
  }
  
  .pickaxe-head {
    width: 20px;
    height: 20px;
    background-color: #333;
    position: absolute;
    top: -7px;
    left: 50px;
  }
  
  .leg {
    position: absolute;
    width: 10px;
    z-index: -1;
    height: 50px;
    background-color: #4d8b13;
    top: 120px;
  }
  
  .left-leg {
    left: 10px;
  }
  
  .right-leg {
    left: 30px;
  }
  
  .rock {
    width: 120px; 
    height: 80px; 
    background-color: #555;
    position: absolute;
    animation: rock-hit 1s infinite 0.5s;;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
  }
  .rock1 {
    width: 120px; 
    height: 80px; 
    background-color: #555;
    position: absolute;
    animation: rock-hit 1s infinite;
    bottom: 0;
    left: 29%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
  }
  
  @keyframes swing-left {
    0%, 100% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @keyframes rock-hit {
    0%, 100%{
      transform: scale(1);
    }
    50%{
      transform: scale(0.5);
    }
  }