<br>
<div class="container py-2">
  <h1 class="bg-dark p-3 rounded text-white text-center">Gran Variedad de juegos de mesa Ahora en tu Ordenador</h1>

  <div class="container mt-5" >
    <div *ngFor="let juego of juegos" class="row">
        <div class="col-md-3 mb-4" >
          <div class="card h-100" routerLink="/{{ juego.nombre }}">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="mb-4">
                <img [src]="'data:image;base64,' + juego.imagen" alt="{{ juego.nombre }}" class="img-fluid" width="120px" height="120px">
                <h3>{{ juego.nombre }}</h3>
                <p>{{ juego.descripcion }}</p>
              </div>  
            </div>
          </div>
        </div>
    </div>
  </div>
</div>