<div class="container py-2 text-center d-flex justify-content-center">
    <div class="container mt-5">
        <div class="col text-center d-flex justify-content-center">
            <div class="col-7 py-2">
                <div class="card h-100" id="foto">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="m-4 text-light">
                            <h3>Desarrollo</h3>
                            <p>Este Juego estara disponible a partir de julio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scene">
    <div class="scene">
        <div class="rock1"></div>
        <div class="miner" id="miner1">
            <div class="head">
                <div class="face"></div>
            </div>
            <div class="body"></div>
            <div class="arm">
                <div class="hand">
                    <div class="pickaxe">
                        <div class="pickaxe-head"></div>
                    </div>
                </div>
            </div>
            <div class="leg left-leg"></div>
            <div class="leg right-leg"></div>
            <div class="foot left-foot"></div>
            <div class="foot right-foot"></div>
        </div>
        <div class="rock"></div>
        <div class="miner" id="miner2">
            <div class="head">
                <div class="face"></div>
            </div>
            <div class="body"></div>
            <div class="arm">
                <div class="hand">
                    <div class="pickaxe">
                        <div class="pickaxe-head"></div>
                    </div>
                </div>
            </div>
            <div class="leg left-leg"></div>
            <div class="leg right-leg"></div>
            <div class="foot left-foot"></div>
            <div class="foot right-foot"></div>
        </div>
    </div>